{% extends 'navbar.html' %} {% block title %} Book Your Slot {% endblock title
%} {% block body %}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="display-4 text-centre text-info">Book</div>
<div class="container mt-4">
  <!-- <div class="display-4 text-centre text-info">Add Hospital Data</div> -->
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-light">
          <form action="/slot" method="post">
            {% include 'message.html' %}
            <div class="form-group">
              <h4 class="text-centre text-info">Your Details</h4>
              <input
                type="text"
                class="form-control mt-2"
                name="name"
                placeholder="name"
                required
              />
              <input
                type="email"
                class="form-control mt-2"
                name="email"
                value="{{current_user.email}}"
                readonly
              />

              <input
                type="number"
                class="form-control mt-2"
                name="slot"
                placeholder="required slots"
                max="4"
                required
              />
              <input
                type="text"
                class="form-control mt-2"
                name="code"
                placeholder="code of hospital"
                required
              />
              <br />
              <button
                class="btn btn-info"
                type="
                  submit"
              >
                Book
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h2>Hospital Data</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Hospital Code</th>
            <th>Hospital Name</th>
            <th>Location</th>
            <th>Available Slots</th>
          </tr>
        </thead>
        <tbody>
          {% for hospital in hospitals %}
          <tr>
            <td>{{ hospital.code }}</td>
            <td>{{ hospital.name }}</td>
            <td>{{ hospital.loc }}</td>
            <td>{{ hospital.slot }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock body %}
